:host {
    display: block;
    padding: 1.5rem;
    background-color: #0f1111;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;

    & > div {
        flex-basis: 100%;
    }
}

input {
    flex-grow: 1;
}

.signer {
    display: flex;
    gap: .5rem;
    border-radius: .5rem;
    align-items: center;

    div {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
    }
}

#remove-signer {
    font-size: 1.1rem;
    padding: 0;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .5rem;
    color: #ffdcc7;
    font-family: monospace;
    background-color: #723600;
}

button {
    flex-grow: 1;
}

#submit {
    flex-basis: 100%;
}