:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(19rem, 100%), 1fr));
  gap: 1rem;
  padding: 1rem;
}

pre {
  white-space: pre-wrap;
}

div {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding: .5rem;
  border-radius: .5rem;
}