:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(26.25rem, 100%), 1fr));
  align-items: start;
  gap: 1rem;
  padding: 2rem;
}

.doc {
  position: relative;
  background-color: #0f1111;
  display: flex;
  gap: 0 1.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 1rem;
}

.header {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 0 .5rem;
}

.field {
  margin-top: .8em;

  :last-child {
    font-weight: bold;
  }
}

h2 {
  flex-basis: 100%;
}

.signer {
  display: flex;
  gap: 0 1.5rem;
  flex-wrap: wrap;
  position: relative;
  flex-grow: 1;
}

hr {
  flex-basis: 100%;
  margin: 0;
  margin-top: 1rem;
  border-style: dashed;
}

#edit-signer-btn {
  position: absolute;
  top: 0;
  right: 0;
  translate: 50% -50%;
  height: 2em;
  width: 2em;
}

#edit-signer-btn,
#delete-doc-btn,
#edit-doc-btn {
  padding: 0;
  border: none;
  min-width: auto;
  opacity: .5;
  background-color: #0f1111;
  
  &:hover {
    opacity: 1;
  }

  &:active {
    scale: .9;
  }
}

#doc-btns {
  position: absolute;
  top: 1rem;
  right: 1rem;
}