@use '@angular/material' as mat;

@include mat.core();


:root {
  color-scheme: dark;
}

body {
  font-family: system-ui;
  color: #bec9c8;
  background-color: #191c1c;
}

body, pre, h1, h2 {
  margin: 0;
}

html, body {
  height: 100%;
}

button {
  display: block;
  font-size: 0.875rem;
  min-width: 4.571428em;
  cursor: pointer;
  border-radius: 9999rem;
  border: none;
  background-color: transparent;
  color: #bec9c8;;
  padding: 0 0.85714em;
  height: 2.857142em;

  &:hover {
    background-color: #172c2c;
  }

  &:active {
    background-color: #134949;
  }
}

input {
  display: block;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: .5em 1em;
  background: #3f4948;
  border-bottom: 0.125em solid #bec9c8;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;

  &:hover {
    background-color: #4c5554;
  }

  &:focus {
    border-color: #acdada;
  }

  &::placeholder {
    color: #bec9c8;
  }
}